@model List<WebDoDienTu.Models.Product>

<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Sản phẩm gợi ý</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var recommendation in Model)
            {
                <div class="border border-primary rounded position-relative vesitable-item" style="height:550px; width: 306px">
                    <div class="vesitable-img">
                        <img src="@recommendation.ImageUrl" class="img-fluid w-100 rounded-top" alt="@recommendation.ProductName">
                    </div>
                    <div class="p-4 rounded-bottom d-flex flex-column align-items-center">
                        <h4 class="text-center">
                            <a asp-action="Details" asp-controller="Products" asp-route-id="@recommendation.ProductId">
                                @recommendation.ProductName
                            </a>
                        </h4>
                        <p class="text-center">@recommendation.Description</p>
                        <div class="mt-auto text-center">
                            <p class="text-dark fs-5 fw-bold mb-0">@recommendation.Price.ToString("N0") VND</p>
                            <a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@recommendation.ProductId" asp-route-quantity="1" class="btn border border-secondary rounded-pill px-3 text-primary mt-2">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i>Thêm giỏ hàng
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>